factory-boy==2.11.1
mock==2.0.0
pyhamcrest==1.9.0
djangorestframework
django-cors-headers
django-river @ git+https://github.com/tamhub/django-river@e2177aae365dcc866979dea040d41de9fb3b41fe
django-heroku
psycopg2
gunicorn
faker
djangorestframework-simplejwt