factory-boy==2.11.1
mock==2.0.0
pyhamcrest==1.9.0
djangorestframework
django-cors-headers
django-river @ git+https://github.com/tamhub/django-river@5dc47e6fb4e6753b2e5cfa036b4140cdf6191640
django-heroku
psycopg2
gunicorn
faker
djangorestframework-simplejwt