{% load static %}<!DOCTYPE html><html lang=en><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><link rel=icon href=/static/favicon.ico><title>Workflow Management System</title><script src=https://cdn.tailwindcss.com defer></script><script>tailwind.config = {
  corePlugins: {
    preflight: false,
  },
  theme: {
    container: {
      center: false,
    },
    extend: {},
  },
  plugins: [],
};</script><link href=https://use.fontawesome.com/releases/v5.0.13/css/all.css rel=stylesheet><link href={% static 'css/app.12ecfc80.css' %} rel=preload as=style><link href={% static 'css/chunk-vendors.6d7ed27e.css' %} rel=preload as=style><link href={% static 'js/app.36ab994b.js' %} rel=preload as=script><link href={% static 'js/chunk-vendors.271bb63c.js' %} rel=preload as=script><link href={% static 'css/chunk-vendors.6d7ed27e.css' %} rel=stylesheet><link href={% static 'css/app.12ecfc80.css' %} rel=stylesheet></head><body><noscript><strong>We're sorry but River Admin doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div><script src={% static 'js/chunk-vendors.271bb63c.js' %}></script><script src={% static 'js/app.36ab994b.js' %}></script></body></html>